src/onepoint/project/configuration/configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:element name="configuration" type="OpConfig"/>
   <xsd:complexType name="OpConfig">
      <xsd:all>
         <xsd:element name="database" type="OpDatabaseConfig" minOccurs="0"/>
         <xsd:element name="database-path" type="xsd:string" minOccurs="0"/>
         <xsd:element name="browser" type="xsd:string" minOccurs="0"/>
         <xsd:element name="smtp-server" type="xsd:string" minOccurs="0"/>
         <xsd:element name="log-file" type="xsd:string" minOccurs="0"/>
         <xsd:element name="log-level" type="xsd:string" minOccurs="0"/>
         <xsd:element name="cache-size" type="xsd:string" minOccurs="0"/>
         <xsd:element name="jes-debugging" type="xsd:string" minOccurs="0"/>
         <xsd:element name="secure-service" type="xsd:string" minOccurs="0"/>
         <xsd:element name="resource-cache-size" type="xsd:string" minOccurs="0"/>
         <xsd:element name="backup-path" type="xsd:string" minOccurs="0"/>
         <xsd:element name="max-attachment-size" type="xsd:string"  default="5" minOccurs="0"/>
         <xsd:element name="shared-secret" type="OpSecret" minOccurs="0"/>
         <xsd:element name="report-workflow" type="OpReportWorkflow" minOccurs="0"/>
         <xsd:element name="ldap" type="OpLdapConfig" minOccurs="0"/>
         <xsd:element name="notification-trigger" type="xsd:string" minOccurs="0"/>
         <xsd:element name="message-queue" type="OpMesageQueueConfig" minOccurs="0"/>
      </xsd:all>
   </xsd:complexType>

   <xsd:complexType name="OpDatabaseConfig">
      <xsd:all>
         <xsd:element name="database-type" type="xsd:string" default="MySQLInnoDB"/>
         <xsd:element name="database-driver" type="xsd:string" default="com.mysql.jdbc.Driver"/>
         <xsd:element name="database-url" type="xsd:string" default="jdbc:mysql://localhost:3306/opproject"/>
         <xsd:element name="database-login" type="xsd:string" default="opproject"/>
         <xsd:element name="database-password" type="OpConfigDatabasePassword"/>
         <xsd:element name="database-path" type="xsd:string" minOccurs="0"/>
         <xsd:element name="connection-pool-min-size" type="xsd:string" minOccurs="0"/>
         <xsd:element name="connection-pool-max-size" type="xsd:string" minOccurs="0"/>
      </xsd:all>
      <xsd:attribute name="name" type="xsd:string"/>
   </xsd:complexType>

   <xsd:complexType name="OpConfigDatabasePassword">
      <xsd:simpleContent>
         <xsd:extension base="xsd:string">
            <xsd:attribute name="encrypted" type="xsd:boolean" default="false" use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="OpSecret">
      <xsd:simpleContent>
         <xsd:extension base="xsd:string">
            <xsd:attribute name="encoding" type="xsd:string" default="SHA" use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="OpReportWorkflow">
      <xsd:sequence>
         <xsd:element name="workflow-target-url" type="xsd:string" />
      </xsd:sequence>
      <xsd:attribute name="enabled" type="xsd:boolean" default="false" />
   </xsd:complexType>
 
   <xsd:complexType name="OpMesageQueueConfig">
      <xsd:sequence>
         <xsd:element name="database-type" type="xsd:string" default="MySQLInnoDB"/>
         <xsd:element name="database-driver" type="xsd:string" default="com.mysql.jdbc.Driver"/>
         <xsd:element name="database-url" type="xsd:string" default="jdbc:mysql://localhost:3306/oppMessageQueue"/>
         <xsd:element name="database-login" type="xsd:string" default="oppmq"/>
         <xsd:element name="database-password" type="OpConfigDatabasePassword" default=""/>
         <xsd:element name="database-path" type="xsd:string" minOccurs="0"/>
         <xsd:element name="update-schedule" type="OpScheduleConfig" maxOccurs="unbounded"/>         
      </xsd:sequence>
      <xsd:attribute name="name" type="xsd:string"/>
   </xsd:complexType>
   
   <xsd:complexType name="OpLdapConfig">
      <xsd:sequence minOccurs="0">
         <xsd:element name="connection" type="OpLdapConnectionConfig"/>
         <xsd:element name="update-schedule" type="OpScheduleConfig" maxOccurs="unbounded"/>
         <xsd:element name="users" type="OpLdapUserConfig"/>
         <xsd:element name="groups" type="OpLdapGroupConfig" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="OpScheduleConfig">
      <xsd:sequence>
         <!--  <xsd:element name="second" type="xsd:string" maxOccurs="unbounded" default="0" /> -->
         <xsd:element name="minute" type="xsd:string" maxOccurs="unbounded" default="30"/>
         <xsd:element name="hour" type="xsd:string" maxOccurs="unbounded" default="5"/>
         <xsd:element name="month" type="xsd:string" maxOccurs="unbounded" default="*"/>
         <xsd:choice>
            <xsd:element name="day-of-month" type="xsd:string" maxOccurs="unbounded"/>
            <xsd:element name="day-of-week" type="xsd:string" maxOccurs="unbounded" default="5"/>
         </xsd:choice>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="OpLdapConnectionConfig">
      <xsd:sequence>
         <xsd:element name="connect-url" type="xsd:anyURI"/>
         <!--      <xsd:element name="user-pattern" type="xsd:string" /> -->
         <xsd:element name="keystore" type="xsd:string" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>
                  Access the keystore, this is where the Root CA public key cert was installed
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="dns-url" type="xsd:anyURI" minOccurs="0"/>
         <xsd:element name="security-authentication" minOccurs="0">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="none"/>
                  <xsd:enumeration value="simple"/>
                  <xsd:enumeration value="strong"/>
                  <xsd:enumeration value="external"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="security-principal" type="xsd:string"/>
         <xsd:element name="security-credentials" type="xsd:string"/>
         <xsd:element name="security-protocol" type="xsd:string" minOccurs="0"/>
         <xsd:element name="security-tls" type="xsd:boolean" default="false" minOccurs="0"/>
         <xsd:element name="password-hash-algorithm" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="OpLdapUserConfig">
      <xsd:sequence>
         <xsd:element name="signon-pattern" type="xsd:string" minOccurs="0" default=":username"/>
         <xsd:element name="retrieval" type="OpLdapUserSearchConfig"/>
         <xsd:element name="mapping" type="OpLdapUserMapping"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="OpLdapUserSearchConfig">
      <xsd:sequence>
         <xsd:element name="search-filter" type="xsd:string"/>
         <xsd:element name="search-base" type="xsd:string"/>
         <xsd:element name="search-scope" default="onelevel">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="object"/>
                  <xsd:enumeration value="onelevel"/>
                  <xsd:enumeration value="subtree"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <!--  <xsd:element name="time-limit" type="xsd:nonNegativeInteger" default="2000" minOccurs="0"/>
    <xsd:element name="dereference-link" type="xsd:boolean" default="false" minOccurs="0"/>
    <xsd:element name="return-object" type="xsd:boolean" default="false" /> -->
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="OpLdapUserMapping">
      <xsd:sequence>
         <xsd:element name="OpUser.Name" type="OpLdapStringValue"/>
         <xsd:element name="OpUser.Password" type="OpLdapStringValue"/>
         <xsd:element name="OpUser.FirstName" type="OpLdapStringValue"/>
         <xsd:element name="OpUser.LastName" type="OpLdapStringValue"/>
         <xsd:element name="OpUser.Email" type="OpLdapStringValue"/>
         <xsd:element name="OpUser.Description" type="OpLdapStringValue"/>
         <xsd:element name="OpUser.Language" type="OpLdapStringValue"/>
         <xsd:element name="OpUser.Level" type="OpLdapStringValue"/>
         <xsd:element name="OpUser.Phone" minOccurs="0" type="OpLdapStringValue"/>
         <xsd:element name="OpUser.Mobile" type="OpLdapStringValue"/>
         <xsd:element name="OpUser.Fax" type="OpLdapStringValue"/>
         <xsd:element name="OpUser.DisplayName" minOccurs="0" type="OpLdapStringValue"/>
         <xsd:element name="OpUser.GroupMembership" minOccurs="0" maxOccurs="unbounded" type="OpLdapMembership"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="OpLdapGroupConfig">
      <xsd:sequence>
         <xsd:element name="retrieval" type="OpLdapGroupSearchConfig"/>
         <xsd:element name="mapping" type="OpLdapGroupMapping"/>
         <xsd:element name="filter" type="OpLdapGroupFilterConfig"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="OpLdapGroupSearchConfig">
      <xsd:sequence>
         <xsd:element name="search-filter" type="xsd:string"/>
         <xsd:element name="search-base" type="xsd:string"/>
         <xsd:element name="search-scope" default="onelevel">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="object"/>
                  <xsd:enumeration value="onelevel"/>
                  <xsd:enumeration value="subtree"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <!--
         <xsd:element name="time-limit" type="xsd:nonNegativeInteger" default="2000" />
         <xsd:element name="dereference-link" type="xsd:boolean" default="false" />
         <xsd:element name="return-object" type="xsd:boolean" default="false" />
         -->
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="OpLdapGroupMapping">
      <xsd:sequence>
         <!--      <xsd:element name="OpGroup.Name" type="OpLdapStringValue" /> -->
         <xsd:element name="OpGroup.Description" minOccurs="0" type="OpLdapStringValue"/>
         <xsd:element name="OpGroup.DisplayName" minOccurs="0" type="OpLdapStringValue"/>
         <xsd:element name="OpGroup.Membership" minOccurs="0" maxOccurs="unbounded" type="OpLdapMembership"/>
         <xsd:element name="OpGroup.ParentMembership" minOccurs="0" maxOccurs="unbounded" type="OpLdapMembership"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="OpLdapGroupFilterConfig">
      <xsd:sequence>
         <xsd:element name="include-names" type="xsd:string" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="enabled" type="xsd:boolean" default="false"/>
   </xsd:complexType>

   <xsd:complexType name="OpLdapStringValue">
      <xsd:sequence>
         <xsd:element name="replace" minOccurs="0" maxOccurs="unbounded" type="OpLdapReplace"/>
      </xsd:sequence>
      <xsd:attribute name="value" type="xsd:string"/>
      <xsd:attribute name="fixed" type="xsd:boolean" default="false"/>
      <xsd:attribute name="synched" type="xsd:boolean" default="true"/>
   </xsd:complexType>

   <xsd:complexType name="OpLdapMembership">
      <xsd:sequence>
         <xsd:element name="replace" minOccurs="0" maxOccurs="unbounded" type="OpLdapReplace"/>
      </xsd:sequence>
      <xsd:attribute name="value" type="xsd:string"/>
      <xsd:attribute name="fixed" type="xsd:boolean" default="false"/>
      <xsd:attribute name="query" type="xsd:boolean" default="false"/>
      <xsd:attribute name="query-base" type="xsd:string" use="optional"/>
      <xsd:attribute name="query-scope" use="optional">
         <xsd:simpleType>
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="object"/>
               <xsd:enumeration value="onelevel"/>
               <xsd:enumeration value="subtree"/>
            </xsd:restriction>
         </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="url" type="xsd:boolean" default="false"/>
   </xsd:complexType>

   <xsd:complexType name="OpLdapReplace">
      <xsd:sequence>
         <xsd:element name="from" type="xsd:string"/>
         <xsd:element name="to" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>